@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.home {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.separator .line {
    height: 3px;
    flex: 1;
    background-color: #fff;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 40px;
    position: relative;
    width: 200px;
    height: 300px;
    transition: .3s ease-in-out;
    cursor: pointer;
    border-radius: 8px;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    transform: scale(1.1);
}

.anime img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
}

.item:hover {
    transform: scale(1);
    opacity: 1;
    transition: .3s ease-in-out;
    color: white;
}

.item-cotent:hover {
    transform: scale(1);
    opacity: 1;
    background-color: rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}

.item-cotent {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
}




