@page "/anime/{animeId:int}"
@inject HttpClient Http

@if (anime == null)
{
    <p><em>Loading...</em></p>
}
else
{

}

@code{
    private Detail anime;
    public int animeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        anime = await Http.GetFromJsonAsync<Detail>("https://api.jikan.moe/v3/anime/{animeId}");
    }



    public class From
    {
        public int day { get; set; }
        public int month { get; set; }
        public int year { get; set; }
    }

    public class To
    {
        public object day { get; set; }
        public object month { get; set; }
        public object year { get; set; }
    }

    public class Prop
    {
        public From from { get; set; }
        public To to { get; set; }
    }

    public class Aired
    {
        public DateTime from { get; set; }
        public object to { get; set; }
        public Prop prop { get; set; }
    }

    public class Adaptation
    {
        public int mal_id { get; set; }
        public string type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }

    public class Related
    {
        public IList<Adaptation> Adaptation { get; set; }
    }

    public class Producer
    {
        public int mal_id { get; set; }
        public string type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }

    public class Studio
    {
        public int mal_id { get; set; }
        public string type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }

    public class Genre
    {
        public int mal_id { get; set; }
        public string type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }

    public class Demographic
    {
        public int mal_id { get; set; }
        public string type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }

    public class Theme
    {
        public int mal_id { get; set; }
        public string type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }

    public class ExternalLink
    {
        public string name { get; set; }
        public string url { get; set; }
    }

    public class Detail
    {
        public string request_hash { get; set; }
        public bool request_cached { get; set; }
        public int request_cache_expiry { get; set; }
        public int mal_id { get; set; }
        public string url { get; set; }
        public string image_url { get; set; }
        public string trailer_url { get; set; }
        public string title { get; set; }
        public string title_english { get; set; }
        public string title_japanese { get; set; }
        public IList<string> title_synonyms { get; set; }
        public string type { get; set; }
        public string source { get; set; }
        public object episodes { get; set; }
        public string status { get; set; }
        public bool airing { get; set; }
        public Aired aired { get; set; }
        public string duration { get; set; }
        public string rating { get; set; }
        public double score { get; set; }
        public int scored_by { get; set; }
        public int rank { get; set; }
        public int popularity { get; set; }
        public int members { get; set; }
        public int favorites { get; set; }
        public string synopsis { get; set; }
        public object background { get; set; }
        public string premiered { get; set; }
        public string broadcast { get; set; }
        public Related related { get; set; }
        public IList<Producer> producers { get; set; }
        public IList<object> licensors { get; set; }
        public IList<Studio> studios { get; set; }
        public IList<Genre> genres { get; set; }
        public IList<object> explicit_genres { get; set; }
        public IList<Demographic> demographics { get; set; }
        public IList<Theme> themes { get; set; }
        public IList<string> opening_themes { get; set; }
        public IList<string> ending_themes { get; set; }
        public IList<ExternalLink> external_links { get; set; }
    }
}
