<nav class="top-row navbar navbar-dark">
    <div class="container-fluid my-auto">
        <a class="navbar-brand" href="">Anime Archive</a>
        <ul class="nav flex-fill">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="season">
                    <span class="oi oi-plus" aria-hidden="true"></span> Seasonal Anime
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="top">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
        <form class="d-flex flex-grow-1  search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark d-flex" type="submit">Search</button>
        </form>
    </div>
</nav>

@code {
}
