<nav class="top-row navbar navbar-dark">
    <div class="container-fluid my-auto">
        <a class="navbar-brand" href="">Anime Archive</a>
        <ul class="nav flex-fill">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="season">
                    <span aria-hidden="true"></span> Seasonal Anime
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="search">
                    <span aria-hidden="true"></span> Search Anime
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
}
